page-home {
    .login-content {
        background: rgba(7,32,75,1);
        background: -moz-linear-gradient(-45deg, rgba(7,32,75,1) 0%, rgba(7,32,75,1) 32%, rgba(178,185,189,1) 91%, rgba(178,185,189,1) 92%, rgba(130,157,171,1) 99%, rgba(178,185,189,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(7,32,75,1)), color-stop(32%, rgba(7,32,75,1)), color-stop(91%, rgba(178,185,189,1)), color-stop(92%, rgba(178,185,189,1)), color-stop(99%, rgba(130,157,171,1)), color-stop(100%, rgba(178,185,189,1)));
        background: -webkit-linear-gradient(-45deg, rgba(7,32,75,1) 0%, rgba(7,32,75,1) 32%, rgba(178,185,189,1) 91%, rgba(178,185,189,1) 92%, rgba(130,157,171,1) 99%, rgba(178,185,189,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(7,32,75,1) 0%, rgba(7,32,75,1) 32%, rgba(178,185,189,1) 91%, rgba(178,185,189,1) 92%, rgba(130,157,171,1) 99%, rgba(178,185,189,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(7,32,75,1) 0%, rgba(7,32,75,1) 32%, rgba(178,185,189,1) 91%, rgba(178,185,189,1) 92%, rgba(130,157,171,1) 99%, rgba(178,185,189,1) 100%);
        background: linear-gradient(135deg, rgba(7,32,75,1) 0%, rgba(7,32,75,1) 32%, rgba(178,185,189,1) 91%, rgba(178,185,189,1) 92%, rgba(130,157,171,1) 99%, rgba(178,185,189,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07204b', endColorstr='#b2b9bd', GradientType=1 );
    }

    .register-btn {
        color: #ffffff;
        font-size: 0.8em;
      }
    #topButtons{
        display:  flex;
        flex-direction: row;
    }
   
    .fab-container {
        position: relative;
      }

      .item-input {
        background-color: transparent;
    }

    .textWhite{
        color: white;
    }

}
